
.container {
  display: flex;
  flex-direction: column;
  height: 100svh;
  width: 100svw;
}

.main {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  background-color: var(--myDarkgreen);
  color: var(--myWhite);
  border-color: var(--myWhite);
}