.nav {
    display: flex;
    width: 100%;
    background-color: var(--myWhite);
    /*color: var(--myDarkgreen);*/
    position: relative;
    z-index: 1;
}

.navHomeSection {
    flex-basis: calc(2*(100%/3));
    padding: 2rem;
    display: flex;
}

.navHomeSection a {
    transition: all 0.2s ease;
}

.navHomeSection a:hover~h1 {
    transition: opacity 0.5s ease;
    opacity: 0.3;
}

.navSection {
    flex-grow: 1;
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
    /*justify-content: flex-end; */
    /* Maybe use this once we have social links or somehting*/
}

.navSection a {
    padding: 1.5rem;
}

.navSection a:hover {
    color: #0070f3;
}

.navMenu {
    flex: 1;
    display: none;
    padding: 2rem;
    justify-content: flex-end;
}

.menuButton {
    float: right;
    padding-right: 1rem;
    background: none;
    border: none;
    font-size: 2rem;
}

.navMenuSection {
    padding-left: 2rem;
    margin-top: 0rem;
}

.blinkingChar {
    animation: blinker 1.5s step-start infinite;
    font-weight: 800;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    .navSection {
        display: none;
    }
    
    .blinkingChar {
        display: none;
    }

    .navPath {
        display: none;
    }

    .navMenu {
        display: flex;
    }
}