.aboutContainer {
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    font-size: large;
    height: 100%;
    overflow: scroll;
}

.aboutBox {
    padding-left: 2vw;
    padding-right: 25vw;
}

.mail {
    color: var(--myBlue);
}

.git:hover{
    color: var(--myBlue);
}

@media only screen and (max-width: 768px) {
    .aboutBox {
        padding-left: 1vw;
        padding-right: 1vw;
    }
}