.cvcontainer {
    height: 100%;
    display: flex;
    overflow: scroll;
    padding: 2rem 10rem
}

.cvtable {
    border-spacing: 75px 50px;
}

.descriptorcell {
    font-size: 2rem;
    text-align:left;
    vertical-align: top;
}

.cvlistimage {
    display:flex;
    justify-content: center;
}

.cvlist {
    height: 100%;
    padding-bottom: 2rem;
    display:none;
}

@media only screen and (max-width: 768px) {
    .cvcontainer {
        padding: 2rem;
    }
    .cvtable {
        display: none;
    }
    .cvlist {
        display: block;
    }
}