.welcome {
  margin-top: -5.6vw;
  margin-left: -0.2vw;
  position: sticky;
  z-index: 0;
  user-select: none;
}

.welcomeTitle {
  font-size: 20vw;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 0;
}